@font-face {
    font-family: 'fuente';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
}

body {
    font-family: 'fuente', sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, red, black);
    color: white;
    font-size: 36px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    display: none;
}

#foto {
    width: 30%;
    display: flex;
}

#foto > a {
    width: 100%;
}

#foto > a > img {
    width: 20%;
    margin-left: 10%;

}

#menu {
    width: 70%;
    display: flex;
    align-items: center;
}

header > div > img {
    width: 70%;
}

#menu > nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
}

#menu > nav > a{
    width: 25%;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

#ig {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu > nav > a > li > img{
    width: 24px;
}

a:hover {
    transform: scale(1.05);
}

body {
    margin-top: 10%;
}

img {
    width: 100%;
    height: 100%;
}

.menu-btn {
    display: none;
}

.menu-btn-label {
    display: none;
}


@media only screen and (max-width: 1000px) {
    #foto {
        width: 100%;
        justify-content: center;
    }

    #foto > a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #foto > a > img {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;

    }
    
    body {
        margin-top: 50%;
    }
    
    .menu-btn-label {
        display: block;
    }

    .menu {
        display: none !important;
    }

    .menu-btn:checked ~ .menu {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        list-style: none;
    }

    .menu-btn:checked ~ .menu > a {
        display: flex !important;
        justify-content: right !important;
        width: 100% !important;
    }

    .menu-btn:checked ~ .menu > a > li {
        margin-right: 3% !important;
    }


}