#titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

#titulo > h2 {
    width: 30%;
    padding: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom right, red, black);
    color: white;
    text-align: center;
    font-size: 36px;
    border: 1px solid black;
}

.torneos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.torneo {
    display: flex;
    border: 1px solid black;
    margin: 5px;
    width: 35%;
    height: 200px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.torneo:hover {
    transform: scale(1.02);
}

.logo_torneo {
    width: 50%;
}

.logo_torneo > img {
    object-fit: cover;
    height: 100%;
    max-width: 270px;
    min-height: 200px;
}

.nombre_fecha {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    width: 50%;
    margin-right: 10px;
}

.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.fecha {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    border: 1px solid black;
    background: linear-gradient(to bottom right, red, black);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 2px;
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 1000px) {

    #titulo > h2 {
        width: 100%;
    }
    
    .torneos {
        display: flex;
        flex-direction: column;
    }

    .torneo {
        width: 100%;
    }

}